{% extends 'index.html' %}

{% block body %}
    <section class="company">
        <div class="container">
            <h2>Про компанію</h2>
            <img class="img-responsive" src="{{ url_for('static', filename='images/company.gif') }}" alt="Company"/>

            <h3>Страви і напої для вас з кращих ресторанів Черкас</h3>

            <p>Основний напрямок діяльності <span>Service Delight</span> - доставка їжі з кращих ресторанів міста
                Черкас. Компанія була
                створена в 2017 році. Протягом цього часу, успішно розвиваючись і грунтуючись на ринку, компанія <span>Service Delight</span>
                домоглася визнання і обзавелася колом постійних клієнтів.</p>

            <p>Якщо у Вас не вистачає часу на обід, до Вас несподівано нагрянули гості, Ви хочете влаштувати вдома
                романтичну
                вечерю або у Вас просто немає бажання виходити в люди - замовте ресторан до себе додому! Команда
                професіоналів
                <span>Service Delight</span> допоможе Вам у цьому.</p>

            <p>Набравши номер нашого Call center і зв'язавшись з компетентним оператором-консультантом, Ви отримаєте
                розгорнуту
                інформацію про кращих ресторанах Черкас, їх кухнях і нових пропозиціях. Якщо у Вас виникли труднощі при
                виборі
                страви, наш консультант порекомендує Вам найбільш цікаві і популярні позиції в меню кожного
                ресторану.</p>

            <p>Наші кур'єри з радістю доставлять Ваше замовлення в найкоротші терміни, гарячим і апетитним.</p>

            <p>Телефонуйте нам, ми завжди Вам раді!</p>
        </div>
    </section>
{% endblock %}