{% import 'admin/layout.html' as layout with context -%}
{% import 'admin/static.html' as admin_static with context %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{{ title_head }}</title>
    <link href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon" rel="shortcut icon"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/normalize.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/styles.css') }}" type="text/css" rel="stylesheet"/>
</head>
<body>
<div class="wrapper">
    <header>
        <div class="navbar-wrapper">
            <div class="container">
                <ul class="header-page">
                    <li class="col-sm-3">
                        <p>Доставка з кращих ресторанів Черкас</p>
                    </li>
                    <li class="col-sm-3">
                        <span class="number">044 / 050 / 067 / <span>093000-00-00</span></span>
                    </li>
                    <li class="col-sm-3">
                        <form class="navbar-form">
                            <input type="text" placeholder="Search...">
                            <button type="submit" class="btn btn-success">Пошук</button>
                        </form>
                    </li>
                    <li class="col-sm-3">
                        <div class="navbar navbar-right">
                            <a href="{{ url_for('order') }}"><i class="fa fa-shopping-basket" aria-hidden="true"><span
                                    class="badge">0</span></i></a>
                            <a href="{{ url_for('admin.login_view') }}"><!--Вхід/ Реєстрація-->{{ name }}</a>
                        </div>
                    </li>
                </ul>
            </div>
            <nav class="navbar navbar-inverse ">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"><img src="{{ url_for('static', filename='images/logo.png') }}"
                                                              alt="Logo"/></a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="{{ url_for('index') }}">Головна</a></li>
                            <li><a href="{{ url_for('institution') }}">Заклади</a></li>
                            <li><a href="{{ url_for('contacts') }}">Контакти</a></li>
                            <li><a href="{{ url_for('delivery') }}">Доставка</a></li>
                            <li><a href="{{ url_for('company') }}">Про компанію</a></li>
                            <!--<li><a href="{{ url_for('list_product') }}">list</a></li>-->
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    {% block body %}

    {% endblock %}
</div>
<footer>
    <div class="container">
        <ul class="footer-info">
            <li class="col-sm-2">
                <ul class="footer-list">
                    <li>
                        <a href="">Рестораны</a>
                    </li>
                    <li>
                        <a href="">Доставка</a>
                    </li>
                    <li>
                        <a href="">О компании</a>
                    </li>
                    <li>
                        <a href="">Контакты</a>
                    </li>
                </ul>
            </li>
            <li class="col-sm-10">
                <p><span class="head-title">Service Delight</span> — служба доставки їжі з ресторанів Черкас додому або
                    в офіс. Виберіть страви з переліку і
                    зробіть замовлення online або зв'яжіться з нами по телефону. Тепер піца, суші, а так само будь-яка
                    інша кухня від кращих кухарів міста доступна в єдиному консолідованому меню одного сайту. Точно в
                    термін на вказану вами адресу служба доставки привезе все, що ви побажаєте, забезпечивши збереження
                    температури, аромату і смаку ваших улюблених страв. Дозвольте собі різноманітність, гідне гурмана!
                    Смачні страви різноманітних кухонь з фешенебельних барів і кафе вже чекають Вас на сніданок, обід і
                    вечерю. Якщо ви готуєтеся до розкішного банкету — замовляйте їду на весілля, день народження або
                    корпоратив у нас — ви обов'язково залишитеся задоволені.</p>
            </li>
        </ul>
    </div>
    <div class="sd">
        <p>&copy; Service Delight 2017</p>
    </div>
</footer>

<script src="{{ url_for('static', filename='js/jquery-2.2.2.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/scroll_and_nav.js') }}"></script>
<script>
    $(document).ready(function () {
        $('.navbar-nav a').each(function () {
            if (this.href == location.href) $(this).parent().addClass('active');
        });
    });
</script>
</body>
</html>
